/**
 * Scorched Earth: Synthwave Edition
 * Placeholder CSS - will be expanded in next issue
 */

/* Reset and base styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #0a0a1a;
    overflow: hidden;
}

#game-canvas {
    display: block;
    width: 100vw;
    height: 100vh;
}
